<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Interface</title>
    <link rel="stylesheet" href="/static/css/html.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>
<body>
    <div id="dialog">
        <div class="diaglog__content">
            <i class="fas fa-spinner"></i>
        </div>
    </div>
    <header>
        <h1>Change to text</h1>
    </header>
    <div id="container">
        <div class="container__body">
            <div class="container__body__content">
                <div class="postdata_img">
                    <img id="img-show" src="/static/img/upload.png" alt="upload img">
                </div>
            </div>
           
        </div>
        <div id="container__postdata">
            <div class="postdata_button">
               <label for="file-upload" class="custom-file-upload">
                    Upload Image
                </label>
                <input id="file-upload" type="file" accept="image/*">
                
                <button type="submit" id="changetext">  Change to text</button>
            </div>
        </div>
    </div>
</body>
<script>
    function previewImage(event) {
        var input = event.target;
        var preview = document.getElementById('img-show');
        // Check if any file is selected
        if (input.files && input.files[0] ) {
            var reader = new FileReader();

            reader.onload = function(e) {
                
                // Set the source of the preview image to the uploaded image
                if(e.target.result !='')
                preview.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]); // Read the image as data URL
        } else {
            
        }
    }

    // Add event listener to the file input field
    document.getElementById('file-upload').addEventListener('change', previewImage);
    function submitToText(){
        event.preventDefault();
        
        var buttonChangeText=document.getElementById('changetext');
        buttonChangeText.disabled = true;
        var dialogElement = document.getElementById('dialog');
        dialogElement.style.display="flex";
    }
    document.getElementById('changetext').addEventListener('click',submitToText);
</script>
</html>
